@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600');


html, body {
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100% !important;


}

a:hover{
    text-decoration: none;
}

.row{
    width: 99vw;
    padding-top: 75px;
}

.fixednav{
    position: fixed;
    top: 0px;
    font-family: 'Montserrat';
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    height: 50px;
    background-color: #212121;
    padding-top: 12px;
    padding-left: 55px;
    z-index: 999999;
}

@media (max-width: 600px)
{
    .fixednav
    {
    position: fixed;
    top: 0px;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    height: 50px;
    background-color: #212121;
    padding-top: 13px;
    padding-left: 0px;
    padding-right: 5px;
    z-index: 999999;
    }
}




.navtext > a{
    color: #fff;
}

.navtext > a:hover{
    text-decoration: none;
}

.navtext > a:after{
    text-decoration: none;
}



.heading{
    text-align: center;
    font-size: 10vh;
    font-family: 'Raleway';
    font-weight: 800;
    color: #212121;
    text-transform: uppercase;
    margin-top: 80px;

}

@media (max-width: 600px){

    .heading{
    text-align: center;
    font-size: 9vh;
    font-family: 'Raleway';
    font-weight: 800;
    color: #212121;
    text-transform: uppercase;
    margin-top: 80px;

}

}

.mainevent{
    margin-bottom: 55px;
}



.img > img{
    width: 24vw;
    height: auto;
    position: relative;
    margin: 0 auto;
    display: block;

}

.line2{
    height: 2px;
    background-color: #9e9e9e;
    color: #9e9e9e;
    width: 50%;
    position: relative;
    display: block;
    margin: 0 auto;

}

.eventname{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

.type{
    font-size: 15px;
    font-family: 'Open Sans';
    color: #9e9e9e;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
}

.line3{
    height: 1px;
    background-color: #9e9e9e;
    color: #9e9e9e;
    width: 25%;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}



@media only screen and (max-width: 964px) {

    .img > img{
    width: 26vh;
    height: auto;
    position: relative;
    margin: 0 auto;
    display: block;
}

.line2{
    height: 2px;
    background-color: #9e9e9e;
    color: #9e9e9e;
    width: 30%;
    position: relative;
    display: block;
    margin: 0 auto;

}

.eventname{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

.eventname:hover{
    text-decoration: none;
}

.type{
    font-size: 13px;
    font-family: 'Open Sans';
    color: #9e9e9e;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
}

.line3{
    height: 1px;
    background-color: #9e9e9e;
    color: #9e9e9e;
    width: 15%;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}


}

@media only screen and (max-width: 600px){
 .row{
    width: 99vw;
    padding-left: 30px;
    margin-top: -75px;
    margin-bottom: 0px;
 }

}

.last{
    width: 33.33vw;
    display: block;
    position: relative;
    
    padding-top: 55px;
    padding-right: 15px;

}

.last:hover{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

.col-sm-4:hover{
    text-decoration-style: none;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    .last{
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 55px;
    padding-left: 20px;
}

}
